* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    /* filter: blur(0.1rem); */
    transition-duration: 1000ms;
}

body {
    background: linear-gradient(to right, #74cad6, #288ecc);
    padding: 2%;
    
}

.main-grid {
    display: grid;
    row-gap: 1.5vh;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 35vh 13vh 40vh;
}



/* section */
.current-weather {
    max-height: 40vh;

    grid-row: 1/1;
    grid-column: 2/span 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(80, 80, 80, 0.3);
    border-radius: 2rem 0 0 2rem;
    border-right: 1px dashed rgba(255, 255, 255, 0.3);
}

.no-wrap {
    white-space: nowrap;
}

.area-name {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 100;
    color: white;
    margin-top: 7%;
}


.current-temperature-number {
    font-size: 2.5rem;
    font-weight: 100;
    color: white;
}

.short-description {
    color: white;
    font-weight: 100;
    font-size: 1rem;
    margin-top: 2%;
    margin-bottom: 2%;
}

.current-temperature-high {
    font-weight: 100;
    margin-right: 5%;
    color: white;
}

.current-temperature-low {
    font-weight: 100;
    margin-left: 5%;
    color: white;
}

.high-low {
    margin-top: 1%;
    display: flex;
    justify-content: center;
}

.search {
    padding: 5%;
    width: 100%;
    margin-top: 2.5%;
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    margin-right: 1%;

    width: 70%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border: none;
    border-radius: 2rem;
    text-align: center;
}
/* search bar inner text styling */
::placeholder {
    color: rgb(194, 194, 194);
    opacity: 1;
}
/* section */


/* section 2 */
.detailed-weather-data {
    border-radius: 0 2rem 2rem 0;
    grid-row: 1/1;
    grid-column: 3 / span 2;
    background-color: rgba(80, 80, 80, 0.3);

    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.D-W-Container {
    color: white;
    display: flex;
    flex-direction: row;
}

.detail-wrap {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.detail-icon{
width: 35%;
filter: invert(1);
}

.detail-text {
font-size: 1rem;
font-weight: 100;
}

.title {
    color: white;
    font-weight: 500;
    font-size: 0.7rem;
    text-transform: uppercase;
    padding: 3%;
}

.text-size {
    font-size: 1rem;
    font-weight: 900;
}

.clouds {
    font-family: inherit
}

.uv-index {
    font-family: inherit;
}

/* section 2 */


/* section 3 */
.hourly-forecast {

    grid-row: 2/2;
    grid-column: 2/span 3;
    background-color: rgba(80, 80, 80, 0.3);
    border-radius: 2rem 2rem 2rem 2rem;
    padding-left: 1vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: scroll;
}

.hourly {
    color: white;
    min-width: 5vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.time {
    color: white;
    font-size: 1rem;
    font-weight: 100;
}

.hourly-data {
    color: white;
    font-size: 1rem;
    font-weight: 900;
}

/* section 3 */

.daily-forecast{
    grid-row: 3/3;
    grid-column: 2/span 3;
    background-color: rgba(80, 80, 80, 0.3);

    border-radius: 2rem;

    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}


.day {
    color: white;
    font-size: 1.2rem;
    font-weight: 100;
    list-style-type: none;

    padding: 1.5vh;
    display: grid;
    grid-template-columns:  5% 10% repeat(6, 1fr);
    grid-template-rows: 1fr;
    justify-items: start;
    align-items: center;
    text-align: left;
    width: 100%;
}

.day-text {
    font-size: inherit;
    font-weight: inherit;
    opacity: 0.6;
}

.day-rise,
.day-set,
.day-pre,
.day-wind,
.day-min,
.day-max {
    justify-self: end;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.day-icon {
    justify-self: end;
    padding-right: 5%;
}



.day:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.1);
}



/* Hide scrollbar for Chrome, Safari and Opera */
.hourly-forecast::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hourly-forecast {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


/* Hide scrollbar for Chrome, Safari and Opera */
.daily-forecast::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.daily-forecast {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* ICONS */

.main-icon {
    width: 40%;
}

.compass {
    width: 7vh;
    rotate: (0deg);
}

.north,
.south,
.east,
.west {
    margin: -10%;
    font-weight: 100;
    font-size: 0.5rem;
}

.east {
    float: right;
}

.west {
    float:left
}

/* .compas-container {
justify-self: end
} */
/* icons */

.checkbox-round {
    margin-left: 0.5%;
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: gray;
}

.footer-info {
    margin-top: 1%;
    color: white;
    font-size: 1rem;
    text-align: center;
}